<h3>Please list your pet animal?</h3>
<div *ngFor="let posts of allPosts; let i = index">
  <span class="animal-type">{{i+1 + ".)" + " " + posts.type + "-"}}</span>
  <br>
  <span class="animal-stats">Age:{{+ " " + posts.age}}</span>
  <span class="animal-stats">Color:{{+ " " + posts.color}}</span>
  <br>
</div>

<div>
  <form [formGroup]="postForm">
    <input class="form-control" id="animal-type" type="text" placeholder="Type" formControlName="type">
    <input class="form-control" id="animal-age" type="text" placeholder="Age" formControlName="age">
    <input class="form-control" id="animal-color" type="text" placeholder="Color" formControlName="color">
    <button class="form-control" type="sumbit" (click)="createPost(postForm.value)">Button</button>
  </form>

  {{ postForm.value | json }}
    <!--<button (click)="createPost(postObject)">Submit That Shit</button>-->
</div>